* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.perspective {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.page-onscreen {
    visibility: visible;
    z-index: 1;
}

.page-ontop {
    z-index: 999;
}

button {
    position: absolute;
    bottom: 0;

    cursor: pointer;
    color: var(--main-button-color);
    height: 4em;
    width: 4em;

    border: none;
    padding: 0;
    background-color: initial;
}

button:focus {
    outline: unset;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

[aria-label="previos"] {
    left: 0;
}

[aria-label="next"] {
    right: 0;
}

[aria-label="menu"] {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

nav.page {
    background-color: var(--main-primary-light);
    z-index: 2;

    font-size: inherit;
    padding: 2em 2rem 4rem 2rem;
}


nav.page-current{
    overflow-y: hidden;
}

/* CLOSE BUTTON */
button.button-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 4rem;
    width: 4rem;
    color: var(--main-button-light-on-light-color);
}

button.button-close svg {
    height: initial;
    width: initial;
}
/* END CLOSE BUTTON */

.nav-wrapper {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-template-areas: "one two" "three four" "five six";
}

@media (min-width: 800px) {
    .nav-wrapper {
        grid-template: "one two three" 1fr "four five six" 1fr / 1fr 1fr 1fr;
    }
}

@media (min-width: 1300px) {
    .nav-wrapper {
        grid-template: "one two three four five six" 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

/* COOL POSITIONING*/
.nav-wrapper>.nav-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item > a {
    position: relative;
    width: 8rem;
    height: 9rem;
    text-decoration: none;
    outline: none;
}

.nav-item > a *{
    position: absolute;
    left:0;
    right:0;
    margin: 0 auto;
}

.nav-item > a > svg {
    top: 2rem;
    width: 4rem;
    height: 4rem;
    color: var(--main-button-light-on-light-color);    
}

.nav-item > a > div {
    bottom: 2.75rem;
    /*width: -moz-fit-content;*/
    /* width: -webkit-fit-content; */
    /*height: -moz-fit-content;*/
    /*height:;*/
    color: var(--main-text-primary-light-on-light);
}

.nav-item > a > div > span {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
}

nav svg {
    width: 100%;
    height: 100%;
}

#to-p1 {
    grid-area: one;
}

#to-p2 {
    grid-area: two;
}

#to-p3 {
    grid-area: three;
}

#to-p4 {
    grid-area: four;
}

#to-p5 {
    grid-area: five;
}

#to-p6 {
    grid-area: six;
}


/* background for slides*/
article.page {
    color: whitesmoke;
    font-size: 4em;

    padding-bottom: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
#p1 {
    background-color: coral;
}
#p2 {
    background-color: cadetblue;
}
#p3 {
    background-color: lightpink;
}
#p4 {
    background-color: lightseagreen;
}
#p5 {
    background-color: rgba(235, 235, 15, 0.651);
}
#p6 {
    background-color: peachpuff;
}